body{
  background: #EBEBEB;
}
.main-wrapper{
  margin-top: 70px;
  margin-left: 15px;
  margin-right: 15px;
}

.search{
  padding: 10px;
  width: 100%;
  border: none;
  font-size: 25px;
}
#newEntry label,
#newVipEntry label{
  margin-top: 15px;
}
table.your-list thead,
table.your-viplist thead,
table.door-list thead,
table.vip-list thead{
    background: #000;
    color: #fff;
    background-image: -webkit-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -o-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3c3c3c),to(#222));
    background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
}
table.your-list tr td,
table.your-viplist tr td,
table.door-list tr td{
    padding: 20px;
    background: #fff;
}
table.your-list tr,
table.your-viplist tr{
    cursor: pointer;
}
table.your-list tr:hover,
table.your-viplist tr:hover{
  opacity: .5;
  transition: opacity 1s ease;
}






.dashboard article{
  background: #fff;
  padding: 15px 10px;;
  border-radius: 5px;
  margin-bottom: 15px;
}
.dashboard article h2{
  font-size: 20px;
  padding: 0;
  margin: 0;
}




.modal{
  top: 20%;
}